.container_modal_Dados {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--pacote-overlay-bg);
  backdrop-filter: blur(4px);
  z-index: 3;
}

.box_modal_Dados {
  border-radius: 20px;
  margin: 0 3%;
  padding: 2.5rem 3rem;
  background: var(--dados-bg-color);
  box-shadow: var(--dados-box-shadow-1), var(--dados-box-shadow-2);
  backdrop-filter: blur(8px);
  border: 4px solid var(--dados-border-color);
  position: relative;
  text-align: center;
}

.titulo {
  color: var(--dados-text-color);
}

.btn_close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--dados-close-btn-color);
  opacity: 0.8;
  transition: 200ms;

  &:hover {
    opacity: 1;
  }
}

.link_login {
  color: var(--header-text-color);
  font-size: 1.2rem;
  padding: 1rem 2rem;
  background-color: #34383f;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 1.3rem;

  &:hover {
    outline: 1px solid var(--header-text-color);
  }
}
