.container_passageiroCounter {
  width: 18.75rem;
  height: 18.75rem;
  background-color: var(--passengers-bg-color);
  border-radius: 15px;
  padding: 1.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box_passageiroCounter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box_passageiroInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 8.75rem;
}

.passageiro_idade {
  opacity: 0.7;
}

.box_quantidadePassageiro {
  display: flex;
  justify-content: space-between;
  width: 6.25rem;
}

.box_quantidadePassageiro span {
  font-weight: bolder;
  font-size: 1.3rem;
}

.btn_mais,
.btn_menos {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bolder;
}

.quantidadePassageiro {
  font-size: 1.3rem;
}
