.container_sugestoes::-webkit-scrollbar {
  width: 10px;
  background-color: var(--sugestao-scrollbar-bg);
}

.container_sugestoes::-webkit-scrollbar-thumb {
  background-color: var(--sugestao-scrollbar-thumb-bg);
  width: 0.625rem;
  height: 3.75rem;
  border-radius: 10px;
}

.container_sugestoes {
  list-style: none;
  padding: 0.5rem 0.8rem;
  background-color: var(--sugestao-bg-color);
  border: 5px solid var(--sugestao-border-color);
  border-radius: 10px;
  overflow: hidden;
  width: 21.875rem;
  height: 100%;
  max-height: 12.5rem;
  overflow-y: auto;
}

.sugestoes {
  font-weight: bolder;
  padding: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
  cursor: pointer;
  font-size: 0.9rem;

  &:hover {
    background-color: var(--sugestao-hover-bg);
  }
}

.sugestao_errada {
  color: var(--sugestao-erro-color);
  font-weight: bolder;
  padding: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 0.9rem;
}
