.container_cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  padding: 2rem 1rem;
}

.container_cadastro::before {
  min-height: 100vh;
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(https://i.postimg.cc/RCR1118n/background-Cadastro.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness(80%);
  z-index: -1;
}

.form_cadastro {
  width: 25rem;
  max-width: 100%;
  border-radius: 16px;
  background-color: var(--register-bg-form);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--register-border-color);
}

.box_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.subtitulo {
  color: var(--register-text-color);
  font-size: 1.3rem;
  font-weight: 600;
}

.login_google {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--register-border-google);
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  transition: 300ms;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    background-color: var(--register-bg-hover-google);
  }
}

.google_img {
  width: 1.5625rem;
}

.box_seperar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.formas_login {
  color: var(--register-text-color);
  font-size: 1.1rem;
}

.linha {
  border: 1px solid var(--register-text-color);
  width: 11.25rem;
}

.container_inputs {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.box_nomeEmail {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.info_input {
  color: var(--register-text-color);
  font-weight: 400;
}

.input_cadastro {
  border-radius: 4px;
  border: none;
  outline: 1px solid var(--register-text-secondary);
  background-color: transparent;
  padding: 0.2rem 0 0.2rem 0.9rem;
  color: var(--register-text-color);
}

.input_registar {
  border-radius: 8px;
  background-color: var(--register-bg-button);
  padding: 0.5rem 0;
  border: none;
  color: var(--register-text-color);
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
  transition: 300ms;
  margin-top: 0.5rem;

  &:hover {
    background-color: var(--register-bg-button-hover);
  }
}
