.container_destinos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.25rem 1.875rem 0 1.875rem;
}

.container_width {
  max-width: 62.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.box_tituloTexto {
  max-width: 31.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.box_titulo,
.box_subtitulo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.box_subtitulo {
  align-items: center;
}

.titulo_destino,
.subtitulo_destino {
  font-size: 2.6rem;
  font-weight: 400;
  font-family: 'Fjalla One';
}

.texto_infoDestino {
  font-size: 1.1rem;
  font-weight: 400;
  border-left: 5px solid var(--destinos-border-color);
  padding: 0.5rem 1.2rem;
}

.subtitulo_destino {
  color: var(--destinos-text-color);
  text-align: center;
}

.box_figuras {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.box_figuras img {
  width: 20rem;
  object-fit: cover;
}

.container_listas {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.lista {
  font-family: 'Fjalla One';
  font-size: 1.5rem;
  font-weight: 400;
  list-style: none;
}

.enfase {
  border-bottom: 3px solid var(--destinos-border-color);
}

.box_carrosel {
  display: none;
}

.swiper {
  max-width: 37.5rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.swiper_slide {
  background-position: center;
  background-size: cover;
  max-width: 37.5rem;
  width: 100%;
}

.swiper_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.swiper_slide img {
  max-width: 25rem;
  width: 80%;
  border-radius: 20px;
  object-fit: cover;
  image-rendering: pixelated;
  padding: 2rem 0;
}

@media screen and (max-width: 60rem) {
  .container_width {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .titulo_destino {
    font-size: 2.6rem;
  }

  .subtitulo_destino {
    font-size: 1.5rem;
  }

  .lista {
    font-size: 1rem;
  }

  .box_figuras {
    display: none;
  }

  .box_carrosel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 48rem) {
  .titulo_destino {
    font-size: 2.1rem;
  }
}
