.container_header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
  top: 0;
  background-color: var(--header-bg-color);
  backdrop-filter: blur(3px);
  position: fixed;
  padding: 0.3rem 1.875rem;
  border-bottom: 1px solid var(--header-border-color);
}

.container_width {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 62.5rem;
  width: 100%;
  height: 100%;
}

.logo_header {
  width: 5rem;
}

.logo_nav {
  width: 7rem;
}

.lista_logoNav {
  display: none;
}

.container_links {
  display: flex;
  gap: 2rem;
}

.lista_links {
  list-style: none;
}

.links_ancora {
  color: var(--header-text-color);
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    border-bottom: 3px solid #ff914d;
  }
}

.link_login {
  color: var(--header-text-color);
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  background-color: var(--header-login-bg);
  text-decoration: none;
  border-radius: 10px;

  &:hover {
    outline: 1px solid var(--header-text-color);
  }
}

.link_user {
  color: var(--header-text-color);
  font-size: 2.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 200ms;

  &:hover {
    color: var(--header-hover-color);
  }
}

.hide {
  display: none;
}

.menu_icon {
  display: none;
  height: 3.75rem;
  z-index: 3;
}

.menu_linha {
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 0;
}

.menu_linha span {
  display: block;
  height: 0.375rem;
  width: 3.3125rem;
  margin-bottom: 10px;
  position: relative;
  background: var(--header-linha-color);
  border-radius: 50px;
  z-index: 1;
  transition: transform 0.5s ease-out, opacity 0.2s ease-out;
}

.menu_linha span:last-child {
  margin-bottom: 0;
}
.menu_linha.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.menu_linha.active span:nth-child(2) {
  opacity: 0;
}
.menu_linha.active span:nth-child(3) {
  transform: translateY(-20px) rotate(-45deg);
}

@media screen and (max-width: 48rem) {
  .logo_header {
    display: none;
  }

  .lista_logoNav {
    display: block;
  }

  .container_links {
    display: none;
  }

  .menu_icon {
    display: block;
  }

  .container_links {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    background-color: var(--header-bg-color);
    transition: 0.5s;
    z-index: 2;
    transform: translateY(-100%);
    opacity: 0;
  }

  .container_links.open {
    transform: translateY(0);
    opacity: 1;
  }
}
