.container_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--success-overlay-bg);
  backdrop-filter: blur(4px);
  z-index: 3;
}

.box_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 25rem;
  width: 100%;
  border-radius: 30px;
  padding: 1.5rem;
  background: var(--success-box-bg);
  box-shadow: var(--user-box-shadow-1), var(--user-box-shadow-2);
  backdrop-filter: blur(8px);
  border: 1px solid var(--success-border-color);
  position: relative;
  margin: 0 3%;
  gap: 1rem;
}

.titulo_texto {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  text-align: center;
}

.titulo {
  font-size: 1.7rem;
  color: var(--success-text-color);
}

.texto {
  font-size: 1.2rem;
  color: var(--success-text-color);
}

.btn_close {
  color: var(--success-text-white);
  background-color: var(--success-bg-color);
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 10px var(--success-shadow-color);
  transition: 300ms;

  &:hover {
    background-color: var(--success-bg-hover);
  }
}
